GEMLANG_SUPABASE_PROJECT_REF=your_project_ref
LEMON_SQUEEZY_API_KEY=your_api_key
LEMON_SQUEEZY_STORE_ID=your_store_id
LEMON_SQUEEZY_MONTHLY_VARIANT_ID=your_monthly_variant_id
LEMON_SQUEEZY_YEARLY_VARIANT_ID=your_yearly_variant_id
LEMON_SQUEEZY_WEBHOOK_SECRET=generate_a_random_32_character_secret
WEB_APP_URL=https://hax2.github.io/gemlang/
LEMON_SQUEEZY_TEST_MODE=false
